<div class="chat-window">
  <div class="row">
    <div class="col text-left titulo">Chat</div>
    <div class="col text-center estado">{{estado}}</div>
  </div> 
  <hr>
  <div class="app-mensajes" id="app-mensajes">
    <div class="text-right"  *ngFor="let mensaje of chat | async ; let n=''">
      <span class="badge badge-primary">{{mensaje.nombre}}</span>
      <p>{{mensaje.mensaje}}</p>
    </div>
  </div>
  <div class="contenedor-input-mensaje">
    <input class="form-control" type="text" name="mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviar(mensaje)" placeholder="Escribe tu mensaje...">
  </div>  
</div>